# Webscrapping Challenge

#### **Challenge 1**

In [54]:
html_doc = """
<!DOCTYPE html>
<html><head><title>The Dormouse's story</title></head>
<body>
<p class="title"><b>The Dormouse's story</b></p>

<p class="story">Once upon a time there were three little sisters; and their names were
<a href="http://example.com/elsie" class="sister" id="link1">Elsie</a>,
<a href="http://example.com/lacie" class="sister" id="link2">Lacie</a> and
<a href="http://example.com/tillie" class="sister" id="link3">Tillie</a>;
and they lived at the bottom of a well.</p>


<h2> hgkjhgfhghrhgfhg </h2>

<p class="story">...</p>
</html>
"""

In [55]:
html_doc

'\n<!DOCTYPE html>\n<html><head><title>The Dormouse\'s story</title></head>\n<body>\n<p class="title"><b>The Dormouse\'s story</b></p>\n\n<p class="story">Once upon a time there were three little sisters; and their names were\n<a href="http://example.com/elsie" class="sister" id="link1">Elsie</a>,\n<a href="http://example.com/lacie" class="sister" id="link2">Lacie</a> and\n<a href="http://example.com/tillie" class="sister" id="link3">Tillie</a>;\nand they lived at the bottom of a well.</p>\n\n\n<h2> hgkjhgfhghrhgfhg </h2>\n\n<p class="story">...</p>\n</html>\n'

In [56]:
type(html_doc)

str

#'2/2/2002'

#Transform to DateTime

In [57]:
from bs4 import BeautifulSoup

#### "creating the soup"

In [58]:
# parse the element
soup = BeautifulSoup(html_doc, 'html.parser')

In [59]:
soup

<!DOCTYPE html>

<html><head><title>The Dormouse's story</title></head>
<body>
<p class="title"><b>The Dormouse's story</b></p>
<p class="story">Once upon a time there were three little sisters; and their names were
<a class="sister" href="http://example.com/elsie" id="link1">Elsie</a>,
<a class="sister" href="http://example.com/lacie" id="link2">Lacie</a> and
<a class="sister" href="http://example.com/tillie" id="link3">Tillie</a>;
and they lived at the bottom of a well.</p>
<h2> hgkjhgfhghrhgfhg </h2>
<p class="story">...</p>
</body></html>

In [60]:
type(soup)

bs4.BeautifulSoup

In [61]:
soup.prettify

<bound method Tag.prettify of
<!DOCTYPE html>

<html><head><title>The Dormouse's story</title></head>
<body>
<p class="title"><b>The Dormouse's story</b></p>
<p class="story">Once upon a time there were three little sisters; and their names were
<a class="sister" href="http://example.com/elsie" id="link1">Elsie</a>,
<a class="sister" href="http://example.com/lacie" id="link2">Lacie</a> and
<a class="sister" href="http://example.com/tillie" id="link3">Tillie</a>;
and they lived at the bottom of a well.</p>
<h2> hgkjhgfhghrhgfhg </h2>
<p class="story">...</p>
</body></html>
>

#### accessing single elements

In [62]:
soup.title

In [63]:
soup.title.string

"The Dormouse's story"

In [64]:
soup.title.parent.name

'head'

In [65]:
soup.head

In [66]:
soup.body

<body>
<p class="title"><b>The Dormouse's story</b></p>
<p class="story">Once upon a time there were three little sisters; and their names were
<a class="sister" href="http://example.com/elsie" id="link1">Elsie</a>,
<a class="sister" href="http://example.com/lacie" id="link2">Lacie</a> and
<a class="sister" href="http://example.com/tillie" id="link3">Tillie</a>;
and they lived at the bottom of a well.</p>
<h2> hgkjhgfhghrhgfhg </h2>
<p class="story">...</p>
</body>

In [67]:
# this method only retrieves the first element of the specified tag
soup.p

In [68]:
soup.body.find_all('a')

[<a class="sister" href="http://example.com/elsie" id="link1">Elsie</a>,
 <a class="sister" href="http://example.com/lacie" id="link2">Lacie</a>,
 <a class="sister" href="http://example.com/tillie" id="link3">Tillie</a>]

In [69]:
trial = []
for p in soup.find_all('a'):
    trial.append(p['class'][0])
    
trial

['sister', 'sister', 'sister']

#### finding all elements of a tag with find_all()

In [70]:
soup.body.text

"\nThe Dormouse's story\nOnce upon a time there were three little sisters; and their names were\nElsie,\nLacie and\nTillie;\nand they lived at the bottom of a well.\n hgkjhgfhghrhgfhg \n...\n"

In [71]:
p_tags = soup.find_all("p")

In [72]:
p_tags

[<p class="title"><b>The Dormouse's story</b></p>,
 <p class="story">Once upon a time there were three little sisters; and their names were
 <a class="sister" href="http://example.com/elsie" id="link1">Elsie</a>,
 <a class="sister" href="http://example.com/lacie" id="link2">Lacie</a> and
 <a class="sister" href="http://example.com/tillie" id="link3">Tillie</a>;
 and they lived at the bottom of a well.</p>,
 <p class="story">...</p>]

In [73]:
for p in p_tags:
    print(p.get_text())

The Dormouse's story
Once upon a time there were three little sisters; and their names were
Elsie,
Lacie and
Tillie;
and they lived at the bottom of a well.
...

#### Using css selectors

In [74]:
soup.select('head')

In [75]:
soup.select("a")

[<a class="sister" href="http://example.com/elsie" id="link1">Elsie</a>,
 <a class="sister" href="http://example.com/lacie" id="link2">Lacie</a>,
 <a class="sister" href="http://example.com/tillie" id="link3">Tillie</a>]

In [76]:
soup.select("a")[2].get_text()

'Tillie'

In [77]:
soup.select("a")[0]['class']

['sister']

In [78]:
#soup.select("a")

for a in soup.select('a'):
    print(a.get_text())

Elsie
Lacie
Tillie

In [79]:
soup.select("title")

In [80]:
soup.select("title")[0].get_text()

"The Dormouse's story"

In [81]:
# select all elements with class="title"
soup.select("p.title")

In [82]:
soup.select('p')[1]#.select('a')[2]['class']

<p class="story">Once upon a time there were three little sisters; and their names were
<a class="sister" href="http://example.com/elsie" id="link1">Elsie</a>,
<a class="sister" href="http://example.com/lacie" id="link2">Lacie</a> and
<a class="sister" href="http://example.com/tillie" id="link3">Tillie</a>;
and they lived at the bottom of a well.</p>

In [83]:
# select all elements with class="sister"
soup.select("a.sister")

[<a class="sister" href="http://example.com/elsie" id="link1">Elsie</a>,
 <a class="sister" href="http://example.com/lacie" id="link2">Lacie</a>,
 <a class="sister" href="http://example.com/tillie" id="link3">Tillie</a>]

In [84]:
# select "all" elements with the id="link2"
soup.select("#link2")

In [85]:
soup.select('a')[0].get_text()

'Elsie'

In [86]:
soup.select("#link2")[0].get_text()

'Lacie'

In [87]:
soup.select("a")[0]['href']

'http://example.com/elsie'

In [88]:
print(soup.select("p.story")[0].get_text())

Once upon a time there were three little sisters; and their names were
Elsie,
Lacie and
Tillie;
and they lived at the bottom of a well.

In [89]:
for p in soup.select("p.story"):
    print(p.get_text())

Once upon a time there were three little sisters; and their names were
Elsie,
Lacie and
Tillie;
and they lived at the bottom of a well.
...

In [90]:
print(soup.select("p.story"))

[<p class="story">Once upon a time there were three little sisters; and their names were
<a class="sister" href="http://example.com/elsie" id="link1">Elsie</a>,
<a class="sister" href="http://example.com/lacie" id="link2">Lacie</a> and
<a class="sister" href="http://example.com/tillie" id="link3">Tillie</a>;
and they lived at the bottom of a well.</p>, <p class="story">...</p>]

#### **Challenge 2**

In [91]:
geography = """
<!DOCTYPE html>
<html>
<head> Geography</head>
<body>

<div class="city">
  <h2>London</h2>
  <p>London is the most popular tourist destination in the world.</p>
</div>

<div class="city">
  <h2>Paris</h2>
  <p>Paris was originally a Roman City called Lutetia.</p>
</div>

<div class="country">
  <h2>Spain</h2>
  <p>Spain produces 43,8% of all the world's Olive Oil.</p>
</div>

</body>
</html>
"""

In [92]:
# Create the "soup"
soup = BeautifulSoup(geography, 'html.parser')

In [93]:
soup

<!DOCTYPE html>

<html>
<head> Geography</head>
<body>
<div class="city">
<h2>London</h2>
<p>London is the most popular tourist destination in the world.</p>
</div>
<div class="city">
<h2>Paris</h2>
<p>Paris was originally a Roman City called Lutetia.</p>
</div>
<div class="country">
<h2>Spain</h2>
<p>Spain produces 43,8% of all the world's Olive Oil.</p>
</div>
</body>
</html>

In [94]:
soup.select('p')

[<p>London is the most popular tourist destination in the world.</p>,
 <p>Paris was originally a Roman City called Lutetia.</p>,
 <p>Spain produces 43,8% of all the world's Olive Oil.</p>]

In [95]:
# 1. All the "fun facts"
for p in soup.select('p'):
    print(p.get_text())

London is the most popular tourist destination in the world.
Paris was originally a Roman City called Lutetia.
Spain produces 43,8% of all the world's Olive Oil.

In [96]:
# 2. The names of all the places.
for tag in soup.select('h2'):
    print(tag.get_text())

London
Paris
Spain

In [97]:
soup.find_all("h2")

In [98]:
# 3. All the content (name and fact) of all the cities (only cities, not countries!)
for city in soup.select('.city'):
    print(city.get_text())

London
London is the most popular tourist destination in the world.


Paris
Paris was originally a Roman City called Lutetia.

In [99]:
for city in soup.select('div.city'):
    print(city.get_text())

London
London is the most popular tourist destination in the world.


Paris
Paris was originally a Roman City called Lutetia.

In [100]:
for city in soup.select('div.city'):
    print(city.text)

London
London is the most popular tourist destination in the world.


Paris
Paris was originally a Roman City called Lutetia.

In [101]:
soup.select('div.city')

[<div class="city">
 <h2>London</h2>
 <p>London is the most popular tourist destination in the world.</p>
 </div>,
 <div class="city">
 <h2>Paris</h2>
 <p>Paris was originally a Roman City called Lutetia.</p>
 </div>]

In [102]:
for city in soup.select('.city'):
    print(city.text)

London
London is the most popular tourist destination in the world.


Paris
Paris was originally a Roman City called Lutetia.

In [103]:
# 4. The names (not facts!) of all the cities (not countries!)
for city in soup.select('.city'):
    print(city)

<div class="city">
<h2>London</h2>
<p>London is the most popular tourist destination in the world.</p>
</div>
<div class="city">
<h2>Paris</h2>
<p>Paris was originally a Roman City called Lutetia.</p>
</div>

In [104]:
for city in soup.select('.city'):
    print(city.h2.get_text())

London
Paris

In [105]:
soup.select('.city')

[<div class="city">
 <h2>London</h2>
 <p>London is the most popular tourist destination in the world.</p>
 </div>,
 <div class="city">
 <h2>Paris</h2>
 <p>Paris was originally a Roman City called Lutetia.</p>
 </div>]